// Zentrale Variablendatei
// Diese Datei importiert alle Variablen-Module

// Farbvariablen importieren
@import "variables/colors";

// Typografie-Variablen importieren
@import "variables/typography";

// Layout-Variablen importieren
@import "variables/layout";

// CSS Custom Properties (zentral konsolidiert)
@import "variables/css-properties";
