// Styles für Buttons und interaktive Elemente

// Kategorie-Buttons
.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: $section-spacing;
}

// Kategorie-Filter Buttons
.filter-category {
    &.active {
        background-color: $hover-color; // Primärfarbe aus dem Theme verwenden
        border-color: $hover-color;
        color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        
        &:hover {
            background-color: darken($link-color, 5%);
            border-color: darken($link-color, 5%);
            transform: none; // Keine Verschiebung, da bereits aktiv
        }
    }
}

// Anpassungen für Standard-Buttons
.btn {
    // Hier können spezifische Anpassungen für die Standard-Buttons hinzugefügt werden
    // Die Grundstile werden aus dem Theme übernommen
    transition: all 0.3s ease;
    
    &:hover {
        color: $hover-color;
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    
    &:active {
        transform: translateY(1px);
    }
}

// Spezifische Anpassungen für Buttons in Info-Boxen
.btn {
    &.notice--info 
    {
        // Grundfarbe des Buttons
        //background-color: $link-color; // Deine Variable aus _colors.scss
        color: #ffffff; // Textfarbe anpassen
        font-size: 0.8rem;
        font-weight: 600;

        &:hover {
            background-color: darken($link-color, 10%); // Dunklere Variante beim Hover
            color: $hover-color; // Textfarbe beim Hover
            transform: translateY(-3px); // Leichte Bewegung nach oben
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Schatten hinzufügen
        }
    }
}
