// Styles für das Inhaltsverzeichnis (Table of Contents)

// Grundlegende TOC-Stile
.toc {
    font-family: $sans-serif-narrow;
    color: $text-color;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid $border-color;
    border-radius: $border-radius;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    overflow: hidden;

    .nav__title {
        color: #fff;
        font-size: $type-size-6;
        background: $primary-color;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        padding: 0.5em;
        font-weight: 600;
        letter-spacing: 0.02em;
        text-transform: none;
    }

    // Scrollspy marks toc items as .active when they are in focus
    .active a {
        color: $link-color;
        font-weight: bold;
    }
}

// TOC-Menü
.toc__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: $type-size-6;

    a {
        display: block;
        padding: 0.25rem 0.75rem;
        color: $text-color;
        font-weight: 600;
        line-height: 1.5;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        transition: background-color $standard-transition, color $standard-transition;

        &:hover {
            color: $link-color;
            background-color: rgba(0, 0, 0, 0.2);
        }

        &:focus-visible {
            outline: 2px solid $link-color;
            outline-offset: 2px;
        }
    }

    li ul {
        margin: 0.2rem 0 0.35rem;
        padding-left: 0.5rem;
        border-left: 1px solid rgba($border-color, 0.4);
    }

    li ul a {
        font-weight: 500;
        font-size: 1em;
        line-height: 1.5;
    }

    li ul>li a {
        padding-left: 1.25rem;
        font-weight: normal;
    }

    li ul li ul>li a {
        padding-left: 1.75rem;
    }

    li ul li ul li ul>li a {
        padding-left: 2.25rem;
    }

    li ul li ul li ul li ul>li a {
        padding-left: 2.75rem;
    }

    li ul li ul li ul li ul li ul>li a {
        padding-left: 3.25rem;
    }
}

// Stile für das ausklappbare TOC
.toc-toggle {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: block;
    box-sizing: border-box;
}

.toc-toggle .nav__title {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: $border-radius $border-radius 0 0;
}

.toc-toggle-icon {
    transition: transform $standard-transition;
    display: inline-block;
}

.toc-toggle[aria-expanded="false"] .toc-toggle-icon {
    transform: rotate(180deg);
}

.toc__menu-wrapper {
    overflow: hidden;
    width: 100%;
    display: block;
    max-height: 9999px;
    opacity: 1;
    transition: max-height $standard-transition, opacity $standard-transition;
}

.toc__menu-wrapper.is-collapsed {
    max-height: 0;
    opacity: 0;
}

.toc-toggle:focus-visible .nav__title {
    outline: 2px solid $link-color;
    outline-offset: 2px;
}

// Einheitliche Schriftgröße und Buttonhöhe für TOC auf Seiten mit 'wide' Klasse
.wide .toc {
    .nav__title {
        font-size: $type-size-6;
        padding: 0.5em;
    }
}

.wide .toc__menu {
    font-size: $type-size-6;

    a {
        padding: 0.25rem 0.75rem;
    }
}

// TOC nach unten versetzen, damit der feste Header nicht ueberlappt
.sidebar__right.sticky {
    top: calc(var(--masthead-height) + 16px);
}

.sidebar__right.sticky .toc__menu {
    max-height: calc(100vh - var(--masthead-height) - 6em);
}
