<div class="cv-skills-container-about-style">
{% for skill_category in include.skill_categories %}
<div class="cv-skill-category-about-style">
    <h3>{{ skill_category.category | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
    <div class="cv-skill-items">
        {% for skill in skill_category.skills %}
        <div class="cv-skill-item">
            <span class="cv-skill-name">{{ skill.name | markdownify | remove: '<p>' | remove: '</p>' }}</span>
            {% if skill.level %}
            <div class="cv-skill-bar">
                <div class="cv-skill-level {% if skill.special %}cv-skill-special{% endif %}" style="width: {{ skill.level }}%;"></div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
</div> 