{% comment %}
  Diese Datei zeigt verwandte Beiträge an, basierend auf den übergebenen Posts.
  Wird in _layouts/single.html verwendet.
{% endcomment %}

{% if include.posts.size > 0 %}
  <div class="page__related">
    <h2 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h2>
    <div class="grid__wrapper">
      {% for post in include.posts limit:4 %}
        {% include archive-single.html type="grid" %}
      {% endfor %}
    </div>
  </div>
{% endif %} 