// Styles für Blogbeiträge

// Hier können spezifische Anpassungen für Blogbeiträge hinzugefügt werden
// Die meisten Stile werden aus dem Theme übernommen

// Beispiel für eine Anpassung der Überschriften in Blogbeiträgen
.page__content {
    h1 {
        color: $h1-color;
    }
    
    h2 {
        color: $h2-color;
    }
    
    h3 {
        color: $h3-color;
    }
}
